@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.App {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px minmax(1em, auto);
  grid-template-areas: "header" "main";
  margin: 0 auto; }
  .App * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
