.SearchResults {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  width: 804px;
  margin: auto;
  background-color: #ebeef3;
  padding: 10px; }
  @media (max-width: 820px) {
    .SearchResults {
      width: auto; } }
